# Data Wrangling with the Titanic Dataset

## Dataset Description

The Titanic dataset contains information about the passengers on the Titanic. Key columns include:

- PassengerId: Identifier for each passenger
- Survived: Indicates if a passenger survived (1) or not (0)
- Pclass: Ticket class (1st, 2nd, or 3rd class)
- Name: Passenger's name
- Sex: Passenger's gender
- Age: Passenger's age
- SibSp: Number of siblings/spouses aboard
- Parch: Number of parents/children aboard
- Ticket: Ticket number
- Fare: Passenger fare
- Cabin: Cabin number
- Embarked: Port of Embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)

## Data Preparations: (10 points)

Download the dataset `titanic.xls` in your local computer and load it into a DataFrame named titanic_df. Display the first 10 rows of dataset to understand the data structure.

## Inner Join: (20 points)

Create two DataFrames from titanic_df: one containing PassengerId, Name, and Pclass, and the other containing PassengerId, Survived, and Age.
- Task: Perform an inner join on these two DataFrames using PassengerId as the key.

## Outer Join: (20 points)

Perform an outer join on the previous two DataFrames. Discuss the differences in the results compared to the inner join.

## GroupBy Exercise: (20 points)

Use the original titanic_df.
- Task 1: Group by Pclass and calculate the average Fare and Age for each class.
- Task 2: Group by Embarked and Sex, and find the count of passengers for each combination.

## Explore More: (30 points)

- Task 1. Use the `groupby` method to calculate the proportion of passengers that survived by sex. 
- Task 2. Create age categories: children (under 14 years), adolescents (14-20), adult (21-64), and senior(65+), and calculate survival proportions by age category, pclass and sex. 
- Task 3. Use markdown to describe your analysis of the titanic dataset. Eg, will the children or senior or women have high survival rate?